<div class="fortune-cookie"><%= image_tag("http://i.imgur.com/n32m2lR.jpg?1") %></div>
<div><%= link_to "Open a fortune", @fortune, :class => "main-btn" %></div>
<div><%= link_to "Write a fortune", new_fortune_path, :class => "main-btn" %></div>


