/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

/*
colors:
main text - rgb(64, 64, 64);
lighter text - rgb(213, 213, 214);
main button - rgb(153, 134, 117);
twitter button rgb(0, 174, 239);
*/

body {
	height: 100%;
	margin: 0;
    font-size: 18px;
    font-family: 'arial';
    color: rgb(64, 64, 64);
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

a {
	text-decoration: none;
	color: rgb(64, 64, 64);
}

a:hover {
	pointer: cursor;
}

header {
	color: rgb(64, 64, 64);
	max-width: 100%;
    height: 100px;
    top: 0;
    right: 0;
    left: 0;
    padding: 35px;
    z-index: 1000;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

nav {
    /*height: 100%;*/
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.nav-li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

.nav-link {
    text-decoration: none;
    margin-left: 5px;
}

header a {
    color: rgb(64, 64, 64);
 }

.content-container {
	width: 85%;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.fortune-cookie-main img {
    width: 500px;
}

.open-fortune-prompt {
    font-size: 2em;
}

.all-cookies-link {
    text-align: center;
    margin-top: 1.2em;
 }

form {
	width: 50%;
	margin: 0 auto;
}

.form-group {
	width: 100%;
    margin-bottom: 3em;
}

.form-label {
    text-align: left;
    color: rgb(213, 213, 214);
    font-weight: 400;
    font-size: 0.8em;
}

.small-title {
    color: rgb(213, 213, 214);
    font-weight: 400;
    font-size: 0.8em;
}

input {
	background-color: #FFF;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(64, 64, 64);
    padding: 8px 8px;
    font-size: 18px;
    margin: 12px 10px 10px 0;
    width: 100%;
    font-weight: 300;
    font-family:  'Roboto', sans-serif;
    padding-left: 0;
}

input:focus {
    outline: none;
}

.main-btn {
	background-color: rgb(153, 134, 117);
    color: #fff;
    cursor: pointer;
    margin: 1em;
    padding: 1em;
    display: inline-block;
    text-transform: uppercase;
    width: 300px;
    border-radius: 0.2em;
}

.twitter-btn {
    background-color: rgb(0, 174, 239);
    color: #fff;
    cursor: pointer;
    margin: 1em;
    padding: 1em;
    display: inline-block;
    text-transform: uppercase;
    width: 300px;
    border-radius: 0.2em;
}

.fortune-byline-link:hover {
    color: rgb(153, 134, 117);
}

.fortune-cookie-small  {
    width: 80%;
    display: inline-block;
}

.fortune-cookie-small img {
    width: 100%;
}

.fortune-description {
    font-size: 2em;
    font-weight: 300;
}

.new-content {
    margin-top: 100px;
}

.index-content {
    width: 50%;
    text-align: left;
    margin: 100px auto 100px auto;
}

.show-content {
    width: 50%;
    margin: 100px auto 0 auto;
}

.about-content {
    text-align: left;
    width: 50%;
    margin: 100px auto 0 auto;
}

.about-attributions {
    margin-top: 15%;
    border-top: 1px solid;
}

.about-attribution {
    margin: 15% 0;
}

.about-attribution .fa {
    padding-right: 0.4em;
}

.about-attribution .fa:hover {
    color: rgb(153, 134, 117);
}

.index-fortune-container {
    width: 32%;
    display: inline-block;
    text-align: center;
}

i.fa.fa-bars.hamburger {
    display: none;
}

/*tablet*/
@media screen and (max-width: 1023px){  
}

/*mobile*/
@media screen and (max-width: 767px){
    body {
        font-size: 16px;
    }

    .fortune-cookie-main img {
        width: 100%;
    }

    .main-btn, .twitter-btn{
        text-align: center;
        display: block;
        width: 200px;
        margin: 0 auto;
        margin-top: 2em;
        font-size: 16px;
    }

    .show-content, .index-content, .new-content, .about-content {
        margin-top: 10px;
    }

    form {
        width: 100%;
    }

    input {
        font-size: 16px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .index-fortune-container {
        width: 32%;
    }

    .fortune-cookie-small {
        width: 100%;
    }

    .index-content {
        width: 100%;
        margin-bottom: 0;
    }

    .about-content {
        width: 100%;
    }

    .show-content {
        width: 100%;
        margin-bottom: 3em;
    }

    /*hamburger menu*/

    header {
        padding: 0;
        margin: 0;
    }

    nav {
        text-align: right;
        height: 100%;
    }

    .nav-li {
        display: block;
    }

    i.fa.fa-bars.hamburger {
        display: block;
        padding: 20px;
        text-align: right
    }

    nav ul {
        max-height: 0;
        padding: 0;
        overflow: hidden;
        -webkit-transition: max-height 0.8s;
        -moz-transition: max-height 0.8s;
        transition: max-height 0.8s;
    }

    nav ul.show-menu {
        padding-bottom: 1.1em;
        max-height: 160px;
    }
}











